body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    color: #fff;
    
  }
  .wrapper {
      
    background: rgba(0,0,0,0.5);
    border: 2px solid #000;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.8);
  }  
  #display {
    width: 320px;
    
    font-size: 65px;
    padding: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.4);
    text-align: right;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    
  }
  input::placeholder{
    color: #fff;
  }
  button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.5);
    transition: 0.4s linear;
  }
  
  button:hover {
    background-color: #2b840c;
    color: #fff;
  }
  
  .operator{
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.5);

    color: #66c224;
  }
  .equal{
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    
    cursor: pointer;
    margin: 10px;
    
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.5);
    background: #2b840c;
  }